cdk-virtual-scroll-viewport {
  height: calc(100vh - 64px);

}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: auto;
}

cdk-virtual-scroll-viewport mat-card {
  margin: 20px 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

mat-card img {
  align-self: center;
  padding-bottom: 10px;
}

